name: commit-check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: setup node
      uses: actions/setup-node@v1
      with:
        node-version: '15.x'
    - name: install dependencies
      run: npm install && npm run bootstrap
    - name: build
      run: npm build
    - name: test
      run: npm test